body {
    width: 100%;
    margin: 0;
    position: relative;
    overflow: hidden;
    font-family: 'Noto Sans TC', sans-serif;
}
.d-none {
    display: block;
}
@mixin background {
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 100;
}
.container {
    max-width: 1024px;
    width: 80%;
    .group {
    width: 100%;
    padding: 5px;
    top: 150px;
    position: absolute;
    display: flex;

    .imgsrc1 {
    @include background();
    background-image: url("./wooden door.png");
    }
    .imgsrc2 {
    @include background();
    background-image: url("./zhcheng.png");
    }
    .imgsrc3 {
    @include background();
    background-image: url("./Sumikko Gurashi.png");
    }
    .imgsrc1:hover,
    .imgsrc2:hover,
    .imgsrc3:hover {
    background-image: unset;
    background-color: salmon;
    }
    .cards {
        width: 100%;
        padding: 10px;
        margin: 0 15px;
        display: block;
            .text {
            display: none;
            }
        }
    .cards:hover .text {
        width: 100%;
        padding: 5px;
        display: block;

        h3 {
            font-size: 20px;
            margin: 5px 0;
        }
        p{
            font-size: 15px;
            margin: unset;
            padding: 0 1px 2px;
        }
        }
    }
}
.d-block {
    display: none;
}
@media(max-width:800px) {
    .d-none{
    display: none;
    }
    .d-block {
        display: block;
    }    
    .swiper-container {
        width: 90vw;
        margin: 50px 0;
        .swiper-button-prev{
            left: 5px;
        }
        .swiper-button-next{
            right: 5px;
        }
        .swiper-pagination{
            bottom: 5px;
        }    
        .swiper-wrapper{
            width: 100%;            
            .swiper-slide{
                padding: 5px;
                background-color: burlywood;
                width: 85% !important;
                text-align: center;
                /* Center slide text vertically */
                display: -webkit-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: block;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                -webkit-justify-content: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                -webkit-align-items: center;
                align-items: flex-end;
                margin: 0 47px;

                .imgsrc1 {
                @include background();
                background-image: url("./wooden door.png");
                background-position: center;
                height: 40vh;
                } 
                .imgsrc2 {
                @include background();
                background-image: url("./zhcheng.png");
                background-position: center;
                height: 40vh;
                }
                .imgsrc3 {
                @include background();
                background-image: url("./Sumikko Gurashi.png");
                background-position: center;
                height: 40vh;
                }
                .text {
                width: 100%;
                padding: 5px;
                display: block;
                h3 {
                    font-size: 40px;
                    color: #f0781e;
                    margin: 5px 0;
                    }
                p{
                    font-size: 35px;
                    margin: 0 0 5px;     
                }
                    .link{
                    text-decoration: none;
                    font-size: 33px; 
                    }      
                }
                 
            }
        }
    }
}
@media(max-width:500px) { 
    .swiper-container {
        width: 95vw;
        .swiper-button-prev{
            left: 0px;
        }
        .swiper-button-next{
            right: 0px;
        }
        .swiper-pagination{
            bottom: 2px;
        }    
        .swiper-wrapper{
            width: 100%;            
            .swiper-slide{
                padding: 5px;
                background-color:rgb(49, 38, 23);
                width: 80% !important;
                margin: 0 30px;
                .imgsrc1,
                .imgsrc2,
                .imgsrc3, {
                    height: 20vh;
                } 
                .text {
                width:95%;
                h3 {
                    font-size: 20px;
                    color: #f0781e;
                    margin: 5px 0;
                    }
                p{
                    font-size: 16px;
                    margin: 0 0 3px;  
                    color: rgb(243, 191, 124);   
                }
                    .link{
                    font-size: 16px; 
                    color: rgb(247, 155, 36);
                    }      
                }
                 
            }
        }
    }
}