body {
  width: 100%;
  margin: 0;
  position: relative;
  overflow: hidden;
  font-family: 'Noto Sans TC', sans-serif;
}

.d-none {
  display: block;
}

.container {
  max-width: 1024px;
  width: 80%;
}

.container .group {
  width: 100%;
  padding: 5px;
  top: 150px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .group .imgsrc1 {
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 100;
  background-image: url("./wooden door.png");
}

.container .group .imgsrc2 {
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 100;
  background-image: url("./zhcheng.png");
}

.container .group .imgsrc3 {
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 100;
  background-image: url("./Sumikko Gurashi.png");
}

.container .group .imgsrc1:hover,
.container .group .imgsrc2:hover,
.container .group .imgsrc3:hover {
  background-image: unset;
  background-color: salmon;
}

.container .group .cards {
  width: 100%;
  padding: 10px;
  margin: 0 15px;
  display: block;
}

.container .group .cards .text {
  display: none;
}

.container .group .cards:hover .text {
  width: 100%;
  padding: 5px;
  display: block;
}

.container .group .cards:hover .text h3 {
  font-size: 20px;
  margin: 5px 0;
}

.container .group .cards:hover .text p {
  font-size: 15px;
  margin: unset;
  padding: 0 1px 2px;
}

.d-block {
  display: none;
}

@media (max-width: 800px) {
  .d-none {
    display: none;
  }
  .d-block {
    display: block;
  }
  .swiper-container {
    width: 90vw;
    margin: 50px 0;
  }
  .swiper-container .swiper-button-prev {
    left: 5px;
  }
  .swiper-container .swiper-button-next {
    right: 5px;
  }
  .swiper-container .swiper-pagination {
    bottom: 5px;
  }
  .swiper-container .swiper-wrapper {
    width: 100%;
  }
  .swiper-container .swiper-wrapper .swiper-slide {
    padding: 5px;
    background-color: burlywood;
    width: 85% !important;
    text-align: center;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: block;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: flex-end;
    margin: 0 47px;
  }
  .swiper-container .swiper-wrapper .swiper-slide .imgsrc1 {
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 100;
    background-image: url("./wooden door.png");
    background-position: center;
    height: 40vh;
  }
  .swiper-container .swiper-wrapper .swiper-slide .imgsrc2 {
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 100;
    background-image: url("./zhcheng.png");
    background-position: center;
    height: 40vh;
  }
  .swiper-container .swiper-wrapper .swiper-slide .imgsrc3 {
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 100;
    background-image: url("./Sumikko Gurashi.png");
    background-position: center;
    height: 40vh;
  }
  .swiper-container .swiper-wrapper .swiper-slide .text {
    width: 100%;
    padding: 5px;
    display: block;
  }
  .swiper-container .swiper-wrapper .swiper-slide .text h3 {
    font-size: 40px;
    color: #f0781e;
    margin: 5px 0;
  }
  .swiper-container .swiper-wrapper .swiper-slide .text p {
    font-size: 35px;
    margin: 0 0 5px;
  }
  .swiper-container .swiper-wrapper .swiper-slide .text .link {
    text-decoration: none;
    font-size: 33px;
  }
}

@media (max-width: 500px) {
  .swiper-container {
    width: 95vw;
  }
  .swiper-container .swiper-button-prev {
    left: 0px;
  }
  .swiper-container .swiper-button-next {
    right: 0px;
  }
  .swiper-container .swiper-pagination {
    bottom: 2px;
  }
  .swiper-container .swiper-wrapper {
    width: 100%;
  }
  .swiper-container .swiper-wrapper .swiper-slide {
    padding: 5px;
    background-color: #312617;
    width: 80% !important;
    margin: 0 30px;
  }
  .swiper-container .swiper-wrapper .swiper-slide .imgsrc1,
  .swiper-container .swiper-wrapper .swiper-slide .imgsrc2,
  .swiper-container .swiper-wrapper .swiper-slide .imgsrc3 {
    height: 20vh;
  }
  .swiper-container .swiper-wrapper .swiper-slide .text {
    width: 95%;
  }
  .swiper-container .swiper-wrapper .swiper-slide .text h3 {
    font-size: 20px;
    color: #f0781e;
    margin: 5px 0;
  }
  .swiper-container .swiper-wrapper .swiper-slide .text p {
    font-size: 16px;
    margin: 0 0 3px;
    color: #f3bf7c;
  }
  .swiper-container .swiper-wrapper .swiper-slide .text .link {
    font-size: 16px;
    color: #f79b24;
  }
}
/*# sourceMappingURL=index.css.map */