body {
  width: 100%;
  margin: 0;
  position: relative;
  overflow: hidden;
  font-family: 'Noto Sans TC', sans-serif;
}

.d-none {
  display: block;
}

.container {
  max-width: 1024px;
  width: 80%;
}

.container .group {
  width: 100%;
  padding: 5px;
  top: 150px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .group .imgsrc1 {
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 10;
  background-image: url("./wooden door.png");
}

.container .group .imgsrc2 {
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 10;
  background-image: url("./zhcheng.png");
}

.container .group .imgsrc3 {
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 10;
  background-image: url("./Sumikko Gurashi.png");
}

.container .group .imgsrc1:hover,
.container .group .imgsrc2:hover,
.container .group .imgsrc3:hover {
  background-image: unset;
  background-color: salmon;
}

.container .group .cards {
  width: 100%;
  padding: 20px;
  margin: 0 50px;
  display: block;
}

.container .group .cards .text {
  display: none;
}

.container .group .cards:hover .text {
  width: 100%;
  padding: 5px;
  display: block;
}

.container .group .cards:hover .text h3 {
  font-size: 18px;
  margin: 5px 0;
}

.container .group .cards:hover .text p {
  font-size: 16px;
  margin: 0 0 5px;
}

.d-block {
  display: none;
}

@media (max-width: 500px) {
  .d-none {
    display: none;
  }
  .d-block {
    display: block;
  }
  .swiper-container {
    width: 100vw;
    margin: 50px 0;
    padding: 5px;
  }
  .swiper-container .swiper-wrapper {
    width: 90%;
  }
  .swiper-container .swiper-wrapper .swiper-slide {
    padding: 5px;
    background-color: burlywood;
    width: 100% !important;
    text-align: center;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: inline-block;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: flex-end;
    margin: 0 30px;
  }
  .swiper-container .swiper-wrapper .swiper-slide .imgsrc1 {
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 10;
    background-image: url("./wooden door.png");
  }
  .swiper-container .swiper-wrapper .swiper-slide .imgsrc2 {
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 10;
    background-image: url("./zhcheng.png");
  }
  .swiper-container .swiper-wrapper .swiper-slide .imgsrc3 {
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 10;
    background-image: url("./Sumikko Gurashi.png");
  }
  .swiper-container .swiper-wrapper .swiper-slide .imgsrc1:hover,
  .swiper-container .swiper-wrapper .swiper-slide .imgsrc2:hover,
  .swiper-container .swiper-wrapper .swiper-slide .imgsrc3:hover {
    display: none;
  }
  .swiper-container .swiper-wrapper .swiper-slide .text {
    display: none;
  }
  .swiper-container .swiper-wrapper .swiper-slide .imgsrc1:hover .text,
  .swiper-container .swiper-wrapper .swiper-slide .imgsrc2:hover .text,
  .swiper-container .swiper-wrapper .swiper-slide .imgsrc3:hover .text {
    width: 100%;
    padding: 5px;
    display: block;
  }
  .swiper-container .swiper-wrapper .swiper-slide .imgsrc1:hover .text h3,
  .swiper-container .swiper-wrapper .swiper-slide .imgsrc2:hover .text h3,
  .swiper-container .swiper-wrapper .swiper-slide .imgsrc3:hover .text h3 {
    font-size: 18px;
    color: #f0781e;
    margin: 5px 0;
  }
  .swiper-container .swiper-wrapper .swiper-slide .imgsrc1:hover .text p,
  .swiper-container .swiper-wrapper .swiper-slide .imgsrc2:hover .text p,
  .swiper-container .swiper-wrapper .swiper-slide .imgsrc3:hover .text p {
    font-size: 16px;
    margin: 0 0 5px;
  }
}
/*# sourceMappingURL=index.css.map */