* {
    box-sizing: border-box;
  }

  body {
    font-family: 'Noto Sans TC', sans-serif;
  }

  .container {
    width: 1440px;
  }
.banner {
  .swiper-container{
    .swiper-wrapper{
        .swiper-slide{
            width: 100%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;}
        .banner_imgsrc1{
            background-image: url("./img/banner_auto.png");}
        .banner_imgsrc2{
            background-image: url("./img/banner_ee.jpg");}
    }
  }
}        